* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;
     line-height: 1.6;
}
header {
     display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffb84d;
    padding: 10px 40px;
    margin: 0 5px;
    border-radius:0 0 20px 20px ;
}
header h1 span {
    color: #ff6600;
   
}
nav a {
  text-decoration: none;
    color: black;
    margin-left: 20px;
    font-weight: bold;
}
nav a:hover {
    color: #ffffff;
}
.home-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 80px;
    background-color: #fff;
}
.home-content h2 {
    font-size: 32px;
    margin-bottom: 15px;
}
.home-content div {
    display: flex;
    flex-direction: column;
}
.home-content p {
    font-size: 18px;
    color: #555;
}

.home-content img {
    width: 350px;
    border-radius: 15px;
}
.cats {
    background: #f4f4f4;
    padding: 60px 40px;
    text-align: center;
}
.cats section {
   display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.cats h2 {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    margin-bottom: 40px;
}
.cats div {
    flex: 1 1 200px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    max-width: 380px;
   transition: all 0.3s ease;
}
.cats img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.cats h3 {
    margin-bottom: 10px;  
}
.cats div:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);  
}
.contact-section {
     padding: 60px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}
.contact-section h2 {
    font-size: 30px;
    margin-bottom: 40px;
}
.contact-section form {
    background-color: #f9f9f9;
    padding: 40px;
    width: 100%;
    max-width: 450px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(32, 32, 32, 0.2);
}
.contact-section input {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    transition: 0.3s;
}
.contact-section div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.contact-section label {
    margin-bottom: 8px;
    font-weight: bold;
}
.contact-section button {
    width: 100%;
    margin-top: 10px;
    padding: 12px;
    background: #ff9900;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.contact-section button:hover {
    background: #ff6600;
    transform: translateY(-2px);
}

footer {
    background-color: #ffb84d;
    text-align: center;
    padding: 40px 0;
    border-radius: 20px 20px 0 0;
    margin: 0 5px ;
}
@media (max-width: 768px) {

    .home-content {
        flex-direction: column;
        text-align: center;
    }

    .home-content img {
        margin-top: 20px;
        width: 250px;
    }

    .cats section {
        flex-direction: column;
        align-items: center;
    }
    .cats div {
        max-width: 100%;
    }

}
